@model IEnumerable<CardShop.Models.Compra>

@{
    ViewData["Title"] = "Compras Usuario";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CompraID">Details</a>

            </td>
        </tr>
        }
    </tbody>
</table>
