@model IEnumerable<CardShop.Models.Compra>

@{
    ViewData["Title"] = "Compras Usuario";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UserName)
            </td>
            @*Forma de Cambiar el Estado de la Compra*@
            @if (item.Fecha.Date != DateTime.Today)
            {
                <td>
                    Enviado
                </td>

            } else
                {
                <td>
                    En Preparación
                </td>
                }
                <td>
                    $
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CompraID">Details</a> |
                    @if (item.Estado.Equals("En preparacion"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.CompraID">Cancelar Compra</a>
                    }
                    else if (item.Estado.Equals("Entregado"))
                    {
                        <a asp-action="ConfirmarEntrega" asp-route-id="@item.CompraID">Confirmar que recibiste el pedido</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
