@model IEnumerable<CardShop.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Compras</h1>

@if (User.IsInRole("ADMIN"))
{
    <p>
        <a asp-action="Create">Crear Nueva Compra</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.UserName)
                </td>
                <td>
                    $
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>

                @if (User.IsInRole("ADMIN"))
                {
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.CompraID">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.CompraID">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.CompraID">Borrar</a>|
                        @if (item.Estado.Equals("En preparacion"))
                        {
                            <a asp-action="EnviarPedido" asp-route-id="@item.CompraID">Enviar pedido</a>
                        }

                    </td>
                }

                else
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <td><a asp-action="Details" asp-route-id="@item.CompraID">Detalles</a></td>


                    }
                }
            </tr>
        }
    </tbody>
</table>
