@model IEnumerable<CardShop.Models.CarritoItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carrito Item</h1>

<p>
    <a asp-action="Create">Crear Nuevo Carrito Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carrito.CarritoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarritoItemId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CarritoItemId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CarritoItemId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
