@model CardShop.Models.Carrito

@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Compras</h1>


<div>
    <h4>Carrito de @Model.Usuario.UserName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UserName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Subtotal)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>

        <tr>
            <th>
                Producto
            </th>

            <th>
                Precio Unitario
            </th>

            <th>
                Cantidad
            </th>

            <th>
                Precio total
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarritosItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Producto.PrecioVigente)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>

                <td>
                    @{var subt = (item.Cantidad * item.Producto.PrecioVigente);}
                    @subt.ToString()
                </td>
            </tr>
        }
    </tbody>
    <div>
        <a asp-action="CarritoUsuario" asp-route-id="@Model.UsuarioID">Volve al Carrito</a>
        <br />
        <a asp-action="Cerrar" asp-route-id="@Model.CarritoId">Hacer compra</a>
    </div>

